{% extends "base_fd4.html" %}
{% block pagetitle %}Mozilla Reps - Dashboard{% endblock %}

{% block content %}
<main role="main" class="dashboard-main">
<div class="row">
  <div class="large-10 columns">
    <h1>Dashboard</h1>
  </div>
  {% block mozillian_interests %}
  {% endblock %}
</div>

<div class="row">
  <div id="secondary-menu" class="large-2 columns">
    <ul>
      <li><a href="#">Action Items<span class="badge">100+</span></a></li>
      <li><a href="#">Notifications<span class="badge">100+</span></a></li>
      <li><a href="#">Activities</a></li>
      <li><a href="#">Budget Requests</a></li>
      <li><a href="#">Swag Requests</a></li>
      <li><a href="#">Community IT Requests</a></li>
      <li><a href="#">Mentorship</a></li>
      <li><a href="#">Planning</a></li>
      <li><a href="#">Administration</a></li>
    </ul>
  </div>
  <div class="large-10 columns">
    {% block body_content %}
    {% endblock %}
  </div>
</div>

{% block modals %}
{% endblock %}

<!-- End of block from base.html -->
</main>
{% endblock %}
